@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
::-webkit-scrollbar {
  display: none;
}

/* Firefox */
* {
  scrollbar-width: none;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.grid-bg {
  position: absolute;
  inset: 0;
  pointer-events: none;

  --size: 25px;
  --line: rgba(75, 78, 78, 0.35); 

  background:
    repeating-linear-gradient(
      0deg,
      var(--line) 0px,
      var(--line) 1px,
      transparent 1px,
      transparent var(--size)
    ),
    repeating-linear-gradient(
      90deg,
      var(--line) 0px,
      var(--line) 1px,
      transparent 1px,
      transparent var(--size)
    );

  background-size:
    var(--size) var(--size),
    var(--size) var(--size);

    mask-image: linear-gradient(
    to bottom,
    black 65%,
    transparent 100%
  );

  -webkit-mask-image: linear-gradient(
    to bottom,
    black 65%,
    transparent 100%
  );
}