@import 'tailwindcss';

/* Firefox */

@theme {
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
    --font-firacode: var(--font-fira-code);
    --font-jetbrains: var(--font-jetbrains-mono);
    --font-roboto: var(--font-roboto);
    --font-googlesans: var(--font-google-sans);
    --font-inter: var(--font-inter);

    --color-black: #1a1a1a;
    --color-gray: #44464d;
    --color-white: #ffffff;
    --color-accent: #445ade;
    --color-accent-hover: #3647b8;
}
{/* Safari and Chrome */}